@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
  font-family: 'Utendo', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
  background-attachment: fixed;
  height: 100%;
  font-weight: normal;
  overflow-x: auto;
}

h1.title {
  font-family: 'Renegade Pursuit', sans-serif;
  font-size: 3.5rem;
  color: #D7C0D0;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 0 3rem 0;
  max-width: 70vw;
}

.container#main{
  margin-top: 3rem;
  margin-bottom: 0;
}

.container#text{
  flex-direction: column;
}

h3.subtitle {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  color: #D7C0D0;
  margin-top: 1rem;
}

h4.subheader {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #F0D78C;
}

p.normal_text {
  font-size: 1.1rem;
  text-align: center;
  color: #FFFFFF;
  font-weight: normal;
}

p.lead {
  margin-top: 2rem;
  text-align: center;
  color: #FFFFFF;
  max-width: 65%;
  font-size: 1.3rem;
  font-weight: normal;
}

.back{
  flex-basis: 0%;
  cursor: pointer;
  margin-top: -0.4rem;
}

.back:hover{
  scale: 1.09;
}

.icon {
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px)
{  
    h1.title {
        font-size: 2rem;
    }
    
    p.lead {
      text-align: center;
      color: #FFFFFF;
      max-width: 85%;
    }
}