body {
  padding-bottom: 50px;
  font-weight: bold;
  background: linear-gradient(180deg, #F8B195 0%,#F67280 100%);
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1.title {
  font-family: Arial, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #355C7D;
  text-shadow: 2px 2px 5px #6C5B7B;
  text-align: center;
  padding-left: 20px;
}

h3.subtitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #355C7D;
}

h4.subheader {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #355C7D;
}

p.normal_text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.back{
  flex-basis: 0%;
  cursor: pointer;
}

.back:hover{
  -webkit-filter: invert(1);
  filter: invert(1);
}

.titlebox{
  font-size: 20px;
  padding-right: 80px;
  padding-left: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
