@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
  font-family: 'Utendo', sans-serif;
}

body {
  background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
  background-attachment: fixed;
  height: 100%;
  font-weight: normal;
  overflow-x: auto;
}

h1.title {
  font-family: 'Renegade Pursuit', sans-serif;
  font-size: 4.375rem;
  color: #F0D78C;
  font-weight: bold;
  text-align: center;
  margin-left: 2rem;
}

.container#main{
  margin-top: 3rem;
}

h3.subtitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #D7C0D0;
  margin-top: 2rem;
}

h4.subheader {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #D7C0D0;
}

p.normal_text {
  font-size: 16px;
  text-align: center;
  color: #FFFF;
}

p.lead {
  margin-top: 1rem;
  text-align: center;
  color: #FFFF;
  max-width: 65%;
}

.back{
  flex-basis: 0%;
  cursor: pointer;
}

.back:hover{
  -webkit-filter: invert(1);
  filter: invert(1);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 auto;
  max-width: 70vw;
}

.container#text{
  flex-direction: column;
}

@media screen and (max-width: 950px)
{
    h1.title {
        font-size: 2rem;
    }
    
    p.lead {
      margin-top: 1rem;
      text-align: center;
      color: #FFFF;
      max-width: 85%;
    }
}