@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
    font-family: 'Utendo', sans-serif;
}

body {
    background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
    background-attachment: fixed;
    height: 100%;
    color: #D7C0D0;
    font-weight: normal;
    overflow-x: auto;
}

h1.title {
    font-family: 'Renegade Pursuit', sans-serif;
    font-size: 4.375rem;
    color: #F0D78C;
    font-weight: bold;
    text-align: center;
}

.container#main{
    margin-top: 3rem;
}

.titlebox{
    font-size: 20px;
}

p.date {
    color: #D7C0D0;
    font-weight: bold;
}

table.leaderboard_table {
    border-collapse: collapse;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}

table.leaderboard_table th, td {  
    border: 1px solid white;
    padding: 15px;
    color: black;
}

table.leaderboard_table th {
    background-color: #6C5B7B;
    color: white;
    text-align: center;
}

table.leaderboard_table tr:hover {
    background-color: #F8B195;
}

.centered {
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    max-width: 70vw;
}

.titlebox{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.back{
    flex-basis: 0%;
    cursor: pointer;
}

.back:hover{
    -webkit-filter: invert(1);
    filter: invert(1);
}

@media screen and (max-width: 800px)
{
    h1.title {
        font-size: 2rem;
    }    
}
