body {
    background: linear-gradient(180deg, #F8B195 0%,#F67280 100%);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 70px;
}

h1.title {
    font-family: Arial, sans-serif;
    font-size: 70px;
    color: #355C7D;
    font-weight: bold;
    text-shadow: 2px 2px 5px #6C5B7B;
}

.dateset{
    flex-basis: 0%;
    order: 2;
}

.titlebox{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

p.date {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
}

table.leaderboard_table {
    border-collapse: collapse;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}

table.leaderboard_table th, td {  
    border: 1px solid white;
    padding: 15px;
    color: black;
}

table.leaderboard_table th {
    background-color: #6C5B7B;
    color: white;
    text-align: center;
}

table.leaderboard_table tr:hover {
    background-color: #F8B195;
}

.centered {
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}  

.titlebox{
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.back{
    flex-basis: 0%;
    cursor: pointer;
}

.back:hover{
    -webkit-filter: invert(1);
    filter: invert(1);
}

