@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
    font-family: 'Utendo', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
    background-attachment: fixed;
    height: 100%;
    color: #FFFF;
    font-weight: normal;
    overflow-x: auto;
}

h1.title {
    font-family: 'Renegade Pursuit', sans-serif;
    font-size: 4.375rem;
    color: #F0D78C;
    font-weight: bold;
    text-align: center;
    margin-left: 0.4rem;
    margin-right: -0.15rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    max-width: 70vw;
}

.container#main{
    margin-top: 3rem;
}

.back, .imagequestion, .lbordimage, .imageset, .hintbtn{
    flex-basis: 0%;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.12rem;
}

.imageset {
    margin-left: 0.;
}

.back:hover, .imagequestion:hover, .lbordimage:hover, .imageset:hover, .hintbtn:hover{
    scale: 1.09;
}

.hintset{
    margin-top: 1.6rem;
    flex-basis: 0%;
}

.input_guess{
    padding-top: 50px;
    margin: 0 auto;
    width: 80vh;
}

.outside {
    padding-top: 50px;
    width: 31.25rem;
    overflow-wrap: break-word;
}  

input[type=text], select, textarea {
    background-color: transparent; 
    outline: 0;
    border-width: 0 0 3px;
    border-color: black;
    text-align: center;
    height: 6.25rem;
    width: 100%;
    font-size: 3rem;
    box-sizing: border-box;
    resize: horizontal;
    color: #FFFF;
    font-weight: normal;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #D7C0D0;
    margin: 1rem auto;
}

p#tries{
    font-size: 24px;
    font-weight: bold;
    color: #D7C0D0;
    margin: -1rem auto;
}

.toast-header, .modal-header {
    color: #295DCF;
    background-color: #D7C0D0;
}

.toast-body, .modal-body {
    color: #000000; 
}

.btn-secondary {
    background-color: #D7C0D0;
    color: #000000;
    font-weight: bold; 
}

.btn-secondary:hover {
    background-color: #295DCF;
    color: #FFFF; 
    font-weight: bold; 
}

#arrow_area{
    font-size: 30px;
    font-weight: normal;
    margin-top: -1.52rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 900px)
{
    h1.title {
        font-size: 2rem;
    }    
}

