@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
    font-family: 'Utendo', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
    background-attachment: fixed;
    height: 100%;
}

h1.title {
    font-family: 'Renegade Pursuit', sans-serif;
    font-size: 3.5rem;;
    color: #D7C0D0;
    font-weight: bold;
    text-align: center;
    margin-left: 1rem;
}

p.selected_setting {
    font-size: 1.8rem;
    color: #F0D78C;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    max-width: 70vw;
}  

.container#main{
    margin-top: 3rem;
}

.container#btns-container{
    flex-direction: column;
    margin-top: -1.6rem;
}

.back{
    flex-basis: 0%;
    cursor: pointer;
    margin-top: -0.4rem;
}

.back:hover{
    scale: 1.09;
}

table.settings_table {
    border-collapse: collapse;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 2rem auto;
    max-width: 70vw;
}

table.settings_table td {
    padding-right: 3rem;
    padding-left: 3rem;
  }

table.settings_table th, td { 
    border: 1px solid #FFFF; 
    padding: 15px;
    margin-top: 5rem;
}

table.settings_table td {
    vertical-align: middle;
}

.toggle {
    position: relative ;
    display: inline-block;
    width: 5rem;
    height: 1.6875rem;
    border-radius: 1.25rem;
    background-color: black;
    margin-top: -5rem;
}

/* Hide browser's default radio button */
.toggle input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

/* The actual toggle switch (circular part of the button) */
.checkmark {
    cursor: pointer;
    position: absolute;
    background-color: #FFFF;
    top: 0.0625rem;
    left: 0.0625rem;
    height: 1.5625rem;
    width: 1.5625rem;
    border-radius: 50%;
}
        
/* Move checkmark once toggle is selected */
.toggle input:checked + .checkmark  {
    left: 3.375rem;
    background-color: #295DCF;
}

.main-btn.btn-primary {
    width: 20rem;
    height: 3.75rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 1.25rem;
    background-color: #D7C0D0;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 800px)
{
    h1.title {
        font-size: 2rem;
    }    
}
