@import url('https://fonts.cdnfonts.com/css/renegade-pursuit');
@import url('https://fonts.cdnfonts.com/css/utendo');

* {
    font-family: 'Utendo', sans-serif;
}

  
body {
    background: linear-gradient(180deg, #1D1E24 0%, #262730 100%);
    background-attachment: fixed;
    height: 100%;
}

h1.title {
    font-family: 'Renegade Pursuit', sans-serif;
    font-size: 4.375rem;
    color: #F0D78C;
    font-weight: bold;
    text-align: center;
}

p.selected_setting {
    font-size: xx-large;
    color: #FFFF;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;
    max-width: 70vw;
}  

.container#main{
    margin-top: 3rem;
}

.container#btns-container{
    flex-direction: column;
    margin-top: -1.2rem;
}

.back{
    flex-basis: 0%;
    cursor: pointer;
    padding-left: 20px;
}

.back:hover{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.titlebox{
    font-size: 20px;
    padding-right: 80px;
    padding-left: 20px;
}

table.settings_table {
    border-collapse: collapse;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 2rem auto;
    max-width: 70vw;
}

table.settings_table td {
    padding-right: 3rem;
    padding-left: 3rem;
  }

table.settings_table th, td { 
    border: 1px solid #FFFF; 
    padding: 15px;
    margin-top: 5rem;
}

table.settings_table td {
    vertical-align: middle;
}

.toggle {
    position: relative ;
    display: inline-block;
    width: 80px;
    height: 27px;
    background-color: black;
    border-radius: 20px;
    margin-top: -5rem;
}

/* Hide browser's default radio button */
.toggle input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

/* The actual toggle switch (circular part of the button) */
.checkmark {
    cursor: pointer;
    position: absolute;
    background-color: #FFFF;
    top: 1px;
    left: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
        
/* Move checkmark once toggle is selected */
.toggle input:checked + .checkmark  {
    left: 54px;
    background-color: #77BA99
}

.main-btn.btn-primary {
    width: 320px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #D7C0D0;
    color: black;
    border-radius: 12px;
    margin-top: 20px;
    cursor: pointer;
}

.main-btn.btn-primary:hover {
    box-shadow: 2px 2px 11px #6C5B7B; 
}

@media screen and (max-width: 800px)
{
    h1.title {
        font-size: 2rem;
    }    
}
